<nav class="navbar navbar-default navbar-fixed-top" ng-controller="loginController">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-logo" href="#/"><img
				src="public/img/ninjalogo.png" alt="logo" /></a> </a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-collapse collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#/"><span class="logo"><span
							class="logo-job">JOB</span> <span class="logo-ninja">Ninja</span></span></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">

				<li ng-show="!isLoggedIn()"><a href="#/register">Register</a></li>
				<li ng-show="isLoggedIn()"><a href="#/test">#TEST</a></li>
				<li ng-show="isLoggedIn()"><a href="#/profile">#PROFILE</a></li>
				<!-- <li><a href="#/login" ng-show="!isLoggedIn()">Login</a></li> -->
				<li ng-show="isLoggedIn()"><a href="#/" ng-click='logout()'>Logout</a></li>
				<li class="dropdown" ng-show="!isLoggedIn()"><a href="" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Login<span class="caret"></span></a>
					<div class="dropdown-menu">
						<form name="loginForm" class="loginForm">
							<div class="form-group">
								<label for="usernamelogin">Username</label>
								<input type='text' class="form-control" placeholder='username' ng-model="username" id="usernamelogin"></input>
							</div>
							<div class="form-group">
    						<label for="passwordlogin">Password</label>
    						<input type="password" class="form-control" id="passwordlogin" placeholder="Password" ng-model="password">
  						</div>
							<button class="btn btn-default" ng-click='login(username, password)'>Submit</button>
						</form>
					</div></li>
			</ul>
			<!-- <form class="navbar-form navbar-left">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form> -->
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
