<header ng-include="'public/partials/nav.html'"></header>
<div class = "container">
<h1 class="hvy">{{company.companyname}}</h1>
<div class="row">
	<div class="col-sm-12">
		<div class="well">
		<button ng-model="show" ng-click="inputButton()">Add Data</button>

        <button ng-click="clearWords(company)">Clear Words</button>
		<span ng-show="show">
			<input type="text" ng-model="url" placeholder="Enter Content URL">
			<button ng-click="submitCompanyUrl(url)">Submit</button>
		</span>
        {{error}}
	</div>
</div>
</div>
</div>
	<div class = "container-fluid blackcontainer">

		<div class="text-center">
			<div ng-show="company.rating" class= "col-sm-12">
				<div class = "text-center">

					<h1 class="percent">{{(company.rating)| number:0}}</h1>

					<h3>match with {{company.companyname}}</h3>
				</div>
			</div>

		</div>

</div>





<div class="container">
<!-- Modal -->






<div class="row" ng-show="company.rating">

	<div class= "col-sm-12">
		<div class="text-center">
			<h3>Based on these words...</h3>
		</div>

		<p>
            <span ng-repeat="word in company.words">
			{{word.value}} //
            </span>

		</p>
	</div>

</div>
</div>
<footer ng-include="'public/partials/footer.html'"></footer>


<div class="modal fade in" aria-hidden="false"  style="display: block;" ng-show="flip">
            <div class="modal-dialog">
                <div class="modal-content">
									<div class="modal-header">

						        <h4 class="modal-title" id="myModalLabel">Please wait...</h4>
						      </div>
									<div class="text-center">
										<h1 class="hyv">HHHIIIIYYAAAAA!</h1>
										<h1>OUR NINJAS</h1>
										<div class="ninja jump-se"></div>
										<h1>ARE WORKING!</h1>
										<h4>
											We are calculating your compatability with this company.
										</h4>


									</div>
                </div>
            </div>
        </div>
