<header ng-include="'public/partials/nav.html'"></header>
<div class = "container">
<h1 class="text-center">{{company.companyname}}</h1>
<hr>
<div class = "row">
	<div class= "col-md-4">
		<div class = "jumbotron">
			<h1>50%</h1>
			<h6>match</h6>
		</div>
	</div>
    <div>
        <button ng-model="show" ng-click="inputButton()">Add Data</button>
        <span ng-show="show">
            <input type="text" ng-model="url" placeholder="Enter Content URL">
            <button ng-click="submitCompanyUrl(url)">Submit</button>
        </span>
    </div>
	<div class= "col-md-8">
		<h3>Based on these words...</h3>
		<h5 ng-repeat="word in company.words">{{word.value}}</h5>
	</div>
</div>
</div>
<footer ng-include="'public/partials/footer.html'"></footer>
