<header ng-include="'public/partials/nav.html'"></header>
<div class="wrapper">
	<!-- Image Background Page Header -->
	<!-- Note: The background image is set within the business-casual.css file. -->
	<header class="business-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="tagline">Ninjy-chop away wrongly-fit jobs!</h1>
				</div>
			</div>
		</div>
	</header>
	<!-- Page Content -->
	<div class="container-fluid whitecontainer">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h2>What is Job Ninja?</h2>
					<p>Job Ninja is a revolutionary job-seeking tool that compares
						your personality to the culture, mission, and values of a company
						or organization you are seeking a potential career with.</p>
					<p>We begin with a unique personality assessment that produces
						various keywords. You then add a list of potential employers your
						user profile. Once your list and personality assessment are
						complete, the numbers are crunched and the results are in...</p>
					<p>What companies get karate chopped to the bottom of your
						list?</p>
					<div class="row">
						<div class="col-md-6">
							<h4 class="findout">Find out, with Job Ninja!</h4>
						</div>
						<div class="col-md-6 text-center">
							<a class="btn btn-default btn-lg" href="#/register">Register
								Today&raquo;</a>
						</div>
					</div>

					<!-- <a class="btn btn-default btn-lg" href="#/register">Register Today
								&raquo;</a> -->

				</div>
				<br>
				<div class="col-sm-4">
					<img class="img-responsive" src="public/img/jobninjacartoon.png"
						alt="" />
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>

	<div class="container-fluid redcontainer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Job Ninja helps you with...</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img class="img-circle img-responsive img-center"
						src="public/img/jobfair.jpg" alt="">
					<h2>Job Fairs</h2>
					<p>Attending a job fair can be overwhelming. What companies
						should you talk to first? Using Job Ninja can help you prioritize
						your time while attending a job fair.</p>
				</div>
				<div class="col-sm-4">
					<img class="img-circle img-responsive img-center"
						src="public/img/resume.jpg" alt="">
					<h2>Application Effort</h2>
					<p>Knowing what companies are a good fit when compared to your
						personality can help you focus you efforts while applying for
						jobs. Narrow down your job search today!</p>
				</div>
				<div class="col-sm-4">
					<img class="img-circle img-responsive img-center"
						src="public/img/offer.jpg" alt="">
					<h2>Accepting Offers</h2>
					<p>Accepting a job? Does the company align with who you are?
						Knowing this before accepting an offer can prevent a job mismatch
						and lead you to a better fit in the future.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid blackcontainer">
		<a href="#/register">
			<div class="container">
				<div class="text-center">

					<h1>Register today!</h1>
				</div>
			</div>
		</a>
	</div>
	<!-- /.row -->

</div>
<!-- FOOTER GOES HERE -->
<footer ng-include="'public/partials/footer.html'"></footer>

<!-- /.container -->
