<header ng-include="'public/partials/nav.html'"></header>
<!-- Image Background Page Header -->
	<!-- Note: The background image is set within the business-casual.css file. -->
	<header class="business-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="tagline">Ninjy-chop away wrongly-fit jobs!</h1>
				</div>
			</div>
		</div>
	</header>

	<!-- Page Content -->
	<div class="container">

		<hr>

		<div class="row">
			<div class="col-sm-8">
				<h2>What is Job Ninja?</h2>
				<p>Job Ninja is a revolutionary job-seeking tool that compares your personality
					to the culture, mission, and values of a company or organization you are seeking a potential career with.</p>
				<p>We begin with a unique personality assessment that produces various keywords.
					You then add a list of potential employers your user profile. Once your
					list and personality assessment are complete, the numbers are crunched and the results are in... </p>
				<p>
					What companies get karate chopped to the bottom of your list?
				</p>
				<h4>Find out, with Job Ninja!    <a class="btn btn-default btn-lg" href="#/register">Register Today
					&raquo;</a></h4>

					<!-- <a class="btn btn-default btn-lg" href="#/register">Register Today
						&raquo;</a> -->

			</div>
			<div class="col-sm-4">
				<img class="img-responsive" src="public/img/jobninjacartoon.png" alt="" />
			</div>
		</div>
		<!-- /.row -->

		<hr>
		<div class="row">
			<div class="col-xs-12">
				<h1>Job Ninja helps you with...</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img class="img-circle img-responsive img-center"
					src="http://placehold.it/300x300" alt="">
				<h2>Job Fairs</h2>
				<p>These marketing boxes are a great place to put some
					information. These can contain summaries of what the company does,
					promotional information, or anything else that is relevant to the
					company. These will usually be below-the-fold.</p>
			</div>
			<div class="col-sm-4">
				<img class="img-circle img-responsive img-center"
					src="http://placehold.it/300x300" alt="">
				<h2>Application Effort</h2>
				<p>The images are set to be circular and responsive. Fusce
					dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
					ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
					magna mollis euismod. Donec sed odio dui.</p>
			</div>
			<div class="col-sm-4">
				<img class="img-circle img-responsive img-center"
					src="http://placehold.it/300x300" alt="">
				<h2>Accepting Offers</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce
					dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
					ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
					magna mollis euismod. Donec sed odio dui.</p>
			</div>
		</div>
		<!-- /.row -->

		<hr>

<!-- FOOTER GOES HERE -->
<footer ng-include="'public/partials/footer.html'"></footer>

	</div>
	<!-- /.container -->
