<header ng-include="'public/partials/nav.html'"></header>
<div class="container">
<h1 class="hvy">Register</h1>
<form name="registerForm" novalidate>
	<input type='text' name="username" placeholder='username' ng-model="username" required ng-minlength="4" ng-maxlength="12"></input><br>
	<input type='password' name="password" placeholder='password' ng-model="password" ng-minlength="6" required></input><br>
	<input type='submit' ng-click='submit(username, password)' ng-disabled="registerForm.$invalid"></input>
</form>
<div>
  <ul>
    <li ng-show="registerForm.username.$touched && registerForm.username.$invalid">
      Username is required (4-12 characters)
    </li>
    <li ng-show="registerForm.password.$touched && registerForm.password.$invalid">
      Password is required and must be more than 6 characters
    </li>
  </ul>
</div>
</div>
